
$orangeGradient: linear-gradient(89.47deg, #F98068 42.88%, #F9B29D 100.72%);
$orangeGradient2: linear-gradient(90deg, #F9B29D 0%, #F98068 100%);

$cyanGradient: linear-gradient(79.93deg, #6F928E 54.43%, #9AB3B0 122.46%);

$orangeLight: #FC968A;
$orangeLight2: #DE6C6680;


$darkPeach: #DE6C66;
$peach: #F99680;

$grey: #131313;
$grey2: #13131399;



$gray: #FFFFFF33;
$gray2:  #9AB3B04D;
$gra3: #48484866;
$gra4: #484848;

$gray2Light: #AFAFAF;


$cyan: #6F928E;
$cyanLight: #B3CCC0;


$lightPeach: #FFF6F4;
$lightSaliva: #B3CCC0;
$lightSaliva2: #E7E7E7;
$lightSaliva3: #EFEFF4;
$lightSaliva4: #D1E0D9;


$white:  #FFFFFF;
$white2: #FFFFFF80;
$white3: #F6F9F7;
$white4: #FDFDFD;

$green: #34c759;

$error: #FF1400;

$max-width-1920: 1920px;
$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-400: 400px;

