@use "../../assets/scss/variables";
@use "../../assets/scss/mixin";

.select-multi {
  position: relative;
  width: 100%;


  h3{
    font-weight: 600;
    font-size: 12px;
    color: variables.$grey;
    line-height: 100%;
    margin-bottom: 6px;

    span{
      margin-left: -3px;
    }

  }


  &.error{
    .select-multi-trigger{
      border: 1px solid variables.$error;

    }
  }
}
.big-select{
  .select-multi-trigger{
    padding: 13px 20px;

  }
}

.select-multi-trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 7px 11px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: variables.$lightPeach;
  cursor: pointer;

  p{
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: variables.$grey;

  }

  i{
    font-size: 10px;
    background: variables.$grey;
    transition: .4s;
    &.open {
      transform: rotate(180deg);
    }
  }
  &:hover {
    border-color: #aaa;
  }
}

.select-multi-value {

  flex: 1;
  text-align: left;

  &.placeholder {
    color: #888;
  }

}


.select-multi-dropdown {
  margin-top: 3px;
  background: variables.$lightPeach;
  border-radius: 5px;
  padding: 20px;

  gap: 7px;
  position: absolute;
  width: 100%;
  z-index: 20;
  overflow-y: auto;
  transition: all 0.4s;
  max-height: 300px;
  opacity: 0;
  visibility: hidden;
  min-width: max-content;

  &.active{
    opacity: 1;
    visibility: visible;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &::-webkit-scrollbar {
    width:4px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: variables.$lightPeach;
    border-radius: 10px;

  }
  &::-webkit-scrollbar-thumb {
    background: variables.$darkPeach;
    border-radius: 10px;


  }

}

.select-multi-option {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;


  &:hover {
    background: #fff;
  }

  &.active {
    font-weight: 600;
  }
}


.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 6px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &.checked {
    border-color: #000;
  }

  .checkmark {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 2px;
  }
}

.multi-sub-dropdown{
  margin-left: 20px;
  gap: 6px;
  margin-top: 6px;
}
