
@use "../assets/scss/flex";
@use "../assets/scss/normalize";
@use "../assets/scss/mixin";
@use "../assets/scss/variables";


.container {
  max-width: 1242px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#root{
  height: 100%;

}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.last-section{
  margin-bottom: 130px;

  @include mixin.screen-max-width-576{
    margin-bottom: 70px;

  }
}

.mobile-block{
  display: none;
  @include mixin.screen-max-width-767{
    display: flex;
  }
}
.desktop-block{
  @include mixin.screen-max-width-767{
    display: none;
  }
}
.text-wrap{
  display: block;
}
.section-title{
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: variables.$darkPeach;

  @include mixin.screen-max-width-576{
    font-size: 25px;
    line-height: 36px;
    text-align: start;

  }

}