@use "../../assets/scss/mixin";
@use "../../assets/scss/variables";


.vertical-stepper{
  position: sticky;
  top: 10px;
  height: max-content;
  max-width: 269px;
  width: 100%;
  gap: 4px;

  @include mixin.screen-max-width-767{
    position: initial;
    flex-direction: row;
    justify-content: center;
    max-width: unset;
    padding: 3px 0 0 ;
  }



}
.stepper-item-wrapper{
  @include mixin.screen-max-width-767{
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

.vertical-stepper-item{
  gap: 13px;

  p{
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: variables.$grey;

    @include mixin.screen-max-width-767{
      display: none;
    }
  }

  &.current{
   .stepper-number{
     background: variables.$cyan;

   }
  }
  &.done{
    .stepper-number{
      background: variables.$cyan;

      i{
        display: block;
      }
      span{
        display: none;
      }
    }

  }

}

.stepper-number{
  width: 58px;
  height: 58px;
  flex: 0 0 58px;
  background: variables.$lightSaliva4;
  border-radius: 50%;


  span{
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    color: variables.$white;
  }
  i{
    font-size: 20px;
    background: variables.$white;
    display: none;

  }

  @include mixin.screen-max-width-576{
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
  }





}


.stepper-line{
  height: 50px;
  margin-left: 28px;
  width: 6px;
  background: variables.$lightSaliva4;
  border-radius: 10px;
  position: relative;
  margin-top: 4px;

  @include mixin.screen-max-width-767{

    width: 38px;
    height: 6px;

    margin-left: 0;

  }

  &::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 37px;
    background: variables.$lightSaliva4;
    border-radius: 10px;


    @include mixin.screen-max-width-767{
      width: 21px;
      height: 6px;
    }

  }

  &.half-done{
    &::after{
      height: 37px;
      background: variables.$cyan;

      @include mixin.screen-max-width-767{
        height: 6px;
      }
    }
  }


  &.done{
    &::after{
      height: 50px;
      background: variables.$cyan;

      @include mixin.screen-max-width-767{
        height: 6px;
        width: 100%;
      }
    }
  }



}