@use "../../assets/scss/variables";
@use "../../assets/scss/mixin";


.input-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: variables.$grey;

}
.input-title-wrapper{
  gap: 8px;
  padding-bottom: 6px;

  div {
    width: 22px;
    height: 22px;
    flex: 0 0 22px;
    background: variables.$lightSaliva2;
    border-radius: 50%;

    i {
      font-size: 13px;
      background: variables.$white;

    }
  }
}


.input-block{
  width: 100%;
}
.attribute-input{

  .input-label{
    input{
      padding: 7px 12px;
      height: 30px;

    }
  }

}
.number-input{
  input{
    max-width: 341px;
  }
}
.input-label {
  width: 100%;

  input {
    width: 100%;
    padding: 12px 19px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: variables.$grey;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .4s;

    &::placeholder{
      color: variables.$grey;
      font-size: 13px;
      opacity: .5;

    }

    &:focus {
      border: 1px solid variables.$darkPeach;
    }

  }
}
.lightPeach{
  input{
    background: variables.$lightPeach;

  }
}
.white{
  input{
    background: variables.$white;

  }

}

.input-tags {
  gap: 4px;
  margin-top: 3px;

  i {
    background: variables.$cyan;
    font-size: 11px;
  }

  p{
    font-weight: 400;
    font-size: 11px;
    color: variables.$grey;
    line-height: 100%;

  }
  span{
    font-weight: 400;
    font-size: 11px;
    color: variables.$grey;
    line-height: 100%;
    opacity: .3;
    display: block;
  }
}

